.form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1rem;
}

.question {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 0.5rem;
}

.question input,
.question select {
	padding: 0.5rem;
	border: 1px solid #333;
	border-radius: 0.5rem;
	background: #fff;
	color: #333;
}

.submit {
	background: #57c94d;
	padding: 1rem;
	border-radius: 0.5rem;
	border: none;
	cursor: pointer;

	transition: all 0.2s ease-in-out;
}

.submit:hover {
	background: #4dbd42;
}
