.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;

	.menu {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.actions {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #222;
		gap: 0.5rem;
		padding: 0.5rem;
		border-radius: 0.5rem;

		.action {
			background: transparent;
			border: none;
			padding: 0.3rem 0.5rem;
			border-radius: 0.5rem;
			cursor: pointer;
		}

		.action[data-active="true"] {
			background: #353535;
		}
	}

	.profile {
		width: 3rem;
		height: 3rem;
		border-radius: 50%;

		.img {
			width: 100%;
			height: 100%;
			border-radius: 50%;
		}
	}
}
